{% extends 'base.html.twig' %}

{% block title %}Confirmation de suppression{% endblock %}

{% block body %}
    <h1>Confirmation de suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer l'utilisateur {{ lastname }} ?</p>
    
    <form method="post" action="{{ path('profile_delete', {'id': id}) }}">
        <input type="text" name="confirmation" placeholder="Tapez 'yes' pour confirmer la suppression" required>
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
    
    <a href="{{ path('admin_users_index') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}