{% extends 'base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Ajouter un utilisateur</h1>
            {% include "admin/users/form.html.twig" %}
        </div>
    </section>
</main>
    
{% endblock %}
