/* .dropdown-menu {
    .dropdown-toggle {
      &::before,
      &::after {
        position: absolute;
        top: 0.85em;
      }
      &::before {
        left: 0.255em;
      }
      &::after {
        right: 0.255em;
      }
    }
  }
  .pos{
    position: relative;
    left: 190px;
  }
  .heart{
    position: relative;
  }
  
  .heart i{
    position:absolute;
    
    right: 2Px;
    bottom: 0px;
    color:red;
  }
  
  .heart i:hover{
    right: 2Px;
    color: blue;
    bottom: 0px;
  }
   */
   .dropdown-menu {
    .dropdown-toggle {
      &::before,
      &::after {
        position: absolute;
        top: 0.85em;
      }
      &::before {
        left: 0.255em;
      }
      &::after {
        right: 0.255em;
      }
    }
  }
  
  /* .pos {
    position: relative;
    left: 190px;
  }
  
  .heart {
    position: relative;
    display: inline-block; /* Ajout pour aligner correctement le cœur */
 /* }
  .heart .fa-solid{
      
      color: red !important;
      transition: color 0.3s; /* Ajout d'une transition pour un changement de couleur fluide */
  /*}
  
  .hear i:hover {
      color: blue;
  } */
  .dell{
    width: 250%;
    height: 300px;
  }
  .pres{
    width: 50%;
    height: 200px;
  }
  
  @media only screen and (min-width: 1288px) {
    .dell{
      width: 220%;
      height: 280px;
    }
  }
  @media only screen and (min-width: 1008px) {
    .dell{
      width: 200%;
      height: 250px;
    }
    .pres{
      width: 100%;
      height: 160px;
    }
  }
  @media only screen and (min-width: 750px) {
    .dell{
      width: 180%;
      height: 250px;
    }
    .pres{
      margin-left: 10px;
      width: 100%;
      height: 160px;
    }
  }
  @media only screen and (min-width: 630px) {
    .dell{
      width: 160%;
      height: 220px;
    }
  }
  @media only screen and (min-width: 530px) {
    .dell{
      width: 160%;
      height: 220px;
    }
  }