{% extends 'base.html.twig' %}

{% block title %}Liste des favoris{% endblock %}

{% block body %}
    <h1>Liste des favoris</h1>

    {% for favori in favoris %}
    
    {% endfor %}
{% endblock %}
